/*

RESET BLOCKSTRAP/BOOTSTRAP

*/
.blockstrap-wrapper header,
.blockstrap-wrapper #navigation::before,
html .blockstrap-wrapper #navigation, 
body .blockstrap-wrapper #navigation,
html body .blockstrap-wrapper #main-content {
    left: 0;
    top: 0;
    padding-top: 5px;
}
html body .blockstrap-wrapper #main-content {
    padding-top: 80px;
}

html .blockstrap-wrapper #navigation {
    z-index: 99999 !important;
}

/*

RESET BLOCKSTRAP/BOOTSTRAP RESPONSIVENESS

*/
@media (min-width: 661px) {
    html body .blockstrap-wrapper #main-content {
        left: 0;
        top: 0;
    }
    html .blockstrap-wrapper #search-form,
    body .blockstrap-wrapper #search-form {
        left: auto;
        right: 0;
        padding-left: 0;
        padding-right: 20px;
        width: 250px;
    }
}
@media (max-width: 661px) {
    html .blockstrap-wrapper #navigation {
        display: none;
    }
    html .blockstrap-wrapper .panel-body .jumbotron .jumbotron-contents {
        font-size: 15px;
        line-height: 18px;
    }
    html .blockstrap-wrapper .panel-body .jumbotron .intro {
        font-size: 18px;
    }
    html .blockstrap-wrapper .panel-body .jumbotron h1 {
        font-size: 42px;
    }
    html .panel {
        font-size: 125%;
    }
}