html, body {
    background: #E9E9E9;
    font-family: sans-serif;
    font-size: 14px;
}
body {
    padding: 30px 0;
}
a {
    text-decoration: none;
    color: #0085B2;
    outline: 0;
}
a.active, a:hover {
    color: #757575;
}
.pull-right {
    float: right;
}
#filters {
    display: block;
    position: relative;
    height: 10px;
    padding-right: 35px;
}
#filters a {
    font-size: 12px;
    float: left;
    margin: 0 10px;
}
#filters a:first-child {
    margin: 0 20px 0 30px;
}
#filters a.pull-right {
    float: right;
}
#footer {
    display: block;
    position: relative;
    height: 10px;
    font-size: 12px;
    color: #757575;
}
#credits, #total {
    display: inline-block;
    float: left;
    width: 49%;
    padding: 0 23px;
}
#total {
    text-align: right;
    float: right;
}
#loading-blockstrap {
    display: none;
}
#content {
    display: block;
    position: relative;
    margin: 0 auto;
    width: 960px;
}
#issues {
    display: block;
    position: relative;
    background: #FFF;
    border: 1px solid #CCC;
    border-radius: 4px;
    padding: 20px;
    margin: 10px 0;
}
.issue {
    display: block;
    position: relative;
    margin: 30px 0 0;
}
#issues .issue:first-child {
    margin: 0;
}
#issues .qr-code {
    display: inline-block;
    position: relative;
    height: 80px;
    width: 80px;
}
#issues .qr-code img {
    display: block;
    width: 100%;
    height: auto;
}
.meta {
    display: inline-block;
    position: relative;
    float: right;
    width: 220px;
}
.info {
    display: block;
    position: absolute;
    top: 0;
    left: 90px;
    right: 230px;
}
.info h4, .meta .values {
    display: block;
    position: relative;
    background: #EEE;
    border-bottom: 1px solid #CCC;
    color: #004C66;
    font-size: 18px;
    font-weight: normal;
    padding: 14px 10px 10px;
    margin: -2px 0 10px;
}
.info h4 a {
    color: #004C66;
}
.info h4 a:hover {
    color: #0085B2;
}
.meta .values {
    margin: -2px 0 10px;
    font-size: 16px;
    padding: 13px 10px 8px;
}
.values span {
    padding: 5px 5px 3px;
    background: #FFFDF8;
    border: 1px solid #CCC;
    border-radius: 4px;
    line-height: 18px;
    margin: -6px 0 -3px 1px;
    display: inline-block;
    width: 31%;
    text-align: center;
}
.info span {
    display: block;
    position: relative;
    font-size: 12px;
    line-height: 16px;
    color: #757575;
    padding: 0 0 0 5px;
}
a.btn {
    display: inline-block;
    position: relative;
    width: 48%;
    background: #FFEDB8;
    font-size: 13px;
    border: 1px solid #AAA;
    border-radius: 8px;
    color: #757575;
    text-transform: uppercase;
    padding: 7px 5px 5px;
    line-height: 16px;
    text-align: center;
    background: #ffffff; /* Old browsers */
    background: -moz-linear-gradient(top,  #ffffff 0%, #ffedb8 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#ffedb8)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #ffffff 0%,#ffedb8 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #ffffff 0%,#ffedb8 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #ffffff 0%,#ffedb8 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #ffffff 0%,#ffedb8 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ffedb8',GradientType=0 ); /* IE6-9 */
}
a.btn:hover {
    background: #ffedb8; /* Old browsers */
    background: -moz-linear-gradient(top,  #ffedb8 0%, #ffffff 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffedb8), color-stop(100%,#ffffff)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #ffedb8 0%,#ffffff 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #ffedb8 0%,#ffffff 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #ffedb8 0%,#ffffff 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #ffedb8 0%,#ffffff 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffedb8', endColorstr='#ffffff',GradientType=0 ); /* IE6-9 */
}
a.btn-primary {
    background: #ffedb8; /* Old browsers */
    background: -moz-linear-gradient(top,  #ffedb8 0%, #ebb400 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffedb8), color-stop(100%,#ebb400)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #ffedb8 0%,#ebb400 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #ffedb8 0%,#ebb400 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #ffedb8 0%,#ebb400 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #ffedb8 0%,#ebb400 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffedb8', endColorstr='#ebb400',GradientType=0 ); /* IE6-9 */
}
a.btn-primary:hover {
    background: #ebb400; /* Old browsers */
    background: -moz-linear-gradient(top,  #ebb400 0%, #ffedb8 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ebb400), color-stop(100%,#ffedb8)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #ebb400 0%,#ffedb8 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #ebb400 0%,#ffedb8 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #ebb400 0%,#ffedb8 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #ebb400 0%,#ffedb8 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ebb400', endColorstr='#ffedb8',GradientType=0 ); /* IE6-9 */
}