html, body {
    background: #E9E9E9;
    font-family: sans-serif;
    font-size: 14px;
}
body {
    padding: 30px 0;
}
a {
    text-decoration: none;
    color: #0085B2;
    outline: 0;
}
a.active, a:hover {
    color: #757575;
}
.pull-right {
    float: right;
}
#filters {
    display: block;
    height: 10px;
    left: 0;
    top: 0;
    padding: 20px 42px 20px 0;
    position: fixed;
    right: 0;
    background: #E9E9E9;
    z-index: 999;
}
#filters .container {
    width: 960px;
}
#filters #filter {
    display: none;
    width: 94%;
    margin: 0 3%;
}
#filters a {
    font-size: 12px;
    float: left;
    margin: 0 10px;
}
#filters a:first-child {
    margin: 0 20px 0 30px;
}
#filters a.pull-right {
    float: right;
}
#footer {
    display: block;
    position: relative;
    height: 10px;
    font-size: 12px;
    color: #757575;
}
#credits, #total {
    display: inline-block;
    float: left;
    width: 49%;
    padding: 0 23px;
}
#total {
    text-align: right;
    float: right;
}
#loading-blockstrap {
    display: none;
}
#content {
    display: block;
    position: relative;
    margin: 0 auto;
    width: 960px;
}
#issues {
    display: block;
    position: relative;
    background: #FFF;
    border: 1px solid #CCC;
    border-radius: 4px;
    padding: 10px 20px;
    margin: 10px 0;
}
.issue {
    display: block;
    position: relative;
    margin: 10px 0;
    min-height: 100px;
    width: auto;
    left: 0;
    right: 20px;
}
#issues .qr-code {
    display: inline-block;
    position: relative;
    height: 80px;
    width: 80px;
}
#issues .qr-code img {
    display: block;
    width: 100%;
    height: auto;
}
.meta {
    display: inline-block;
    position: relative;
    float: right;
    width: 220px;
}
.info {
    display: block;
    position: absolute;
    top: 0;
    left: 90px;
    right: 230px;
}
.info h4, .meta .values {
    display: block;
    position: relative;
    background: #EEE;
    border-bottom: 1px solid #CCC;
    color: #004C66;
    font-size: 18px;
    font-weight: normal;
    padding: 14px 10px 10px;
    margin: -2px 0 10px;
}
.info h4 a {
    color: #004C66;
}
.info h4 .title {
    display: inline-block;
}
.info h4 a.btn {
    color: #EEE;
    font-size: 11px;
    margin: -2px 3px 0 0;
    display: none;
}
#issues.admin .info h4 a.btn {
    display: inline-block;
}
.info h4 a:hover {
    color: #0085B2;
}
.info h4 a.btn:hover {
    color: #FFF;
}
.meta .values {
    margin: -2px 0 10px;
    font-size: 16px;
    padding: 13px 10px 8px;
}
.meta .values div span i {
    display: none;
    font-size: 12px;
    padding: 10px 0 5px;
    text-align: center;
    font-style: normal;
    color: #757575;
}
.values div {
    padding: 0 3px;
}
.values span {
    padding: 7px 5px 5px;
    background: #FFFDF8;
    border: 1px solid #CCC;
    border-radius: 4px;
    line-height: 18px;
    margin: -7px 0 -2px 1px;
    display: block;
    text-align: center;
}
.info span {
    display: block;
    position: relative;
    font-size: 12px;
    line-height: 16px;
    color: #757575;
    padding: 0 0 0 5px;
}
.full-details {
    display: block;
    position: relative;
    padding: 10px 0 10px;
    text-align: justify;
    margin: 10px 0 0;
    border-top: 1px dotted #CCC;
}
.actions .details {
    display: none;
}
.actions a.btn {
    display: inline-block;
    position: relative;
    width: 48%;
    background: #FFEDB8;
    font-size: 13px;
    border: 1px solid #AAA;
    border-radius: 8px;
    color: #757575;
    text-transform: uppercase;
    padding: 7px 5px 5px;
    line-height: 16px;
    text-align: center;
    background: #ffffff; /* Old browsers */
    background: -moz-linear-gradient(top,  #ffffff 0%, #ffedb8 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#ffedb8)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #ffffff 0%,#ffedb8 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #ffffff 0%,#ffedb8 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #ffffff 0%,#ffedb8 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #ffffff 0%,#ffedb8 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ffedb8',GradientType=0 ); /* IE6-9 */
}
.actions a.btn:hover {
    background: #ffedb8; /* Old browsers */
    background: -moz-linear-gradient(top,  #ffedb8 0%, #ffffff 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffedb8), color-stop(100%,#ffffff)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #ffedb8 0%,#ffffff 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #ffedb8 0%,#ffffff 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #ffedb8 0%,#ffffff 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #ffedb8 0%,#ffffff 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffedb8', endColorstr='#ffffff',GradientType=0 ); /* IE6-9 */
}
.actions a.btn-primary {
    background: #ffedb8; /* Old browsers */
    background: -moz-linear-gradient(top,  #ffedb8 0%, #ebb400 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffedb8), color-stop(100%,#ebb400)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #ffedb8 0%,#ebb400 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #ffedb8 0%,#ebb400 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #ffedb8 0%,#ebb400 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #ffedb8 0%,#ebb400 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffedb8', endColorstr='#ebb400',GradientType=0 ); /* IE6-9 */
}
.actions a.btn-primary:hover {
    background: #ebb400; /* Old browsers */
    background: -moz-linear-gradient(top,  #ebb400 0%, #ffedb8 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ebb400), color-stop(100%,#ffedb8)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #ebb400 0%,#ffedb8 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #ebb400 0%,#ffedb8 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #ebb400 0%,#ffedb8 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #ebb400 0%,#ffedb8 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ebb400', endColorstr='#ffedb8',GradientType=0 ); /* IE6-9 */
}
.actions a.btn:last-child {
    float: right;
}
.actions a.btn-qr {
    display: none;
}
.modal {
    border-radius: 6px;
}
.modal .modal-header {
    font-size: 14px;
    background: #EEE;
    border-bottom: 1px solid #CCC;
    border-radius: 6px 6px 0 0;
}
.modal .modal-header h4 {
    font-size: 14px;
}
.modal .qr-holder {
    display: block;
    position: relative;
    background: #FFFFEE;
    border: 1px solid #CCC;
    padding: 20px;
}
.modal .qr-holder img {
    display: block;
    background: #FFF;
    border: 1px solid #CCC;
    padding: 10px;
    margin: 0 auto;
}
.modal .modal-body {
    text-align: justify;
}
.modal .modal-body p.left {
    text-align: left;
}
p.center {
    text-align: center;
}
.share {
    display: block;
    position: relative;
    padding: 20px;
    text-align: center;
}
.share a {
    display: inline-block;
    position: relative;
    width: 50px;
    height: 50px;
    text-indent: -999em;
    background: url(../img/shares.png) no-repeat;
}
.share a.angellist {
    background-position: 0 -100px;
}
.share a.twitter {
    background-position: -50px -100px;
}
.share a.facebook {
    background-position: -100px -100px;
}
.share a.github {
    background-position: -150px -100px;
}
.share a.google {
    background-position: -200px -100px;
}
.share a.linked {
    background-position: -250px -100px;
}
.share a.angellist:hover {
    background-position: 0 -150px;
}
.share a.twitter:hover {
    background-position: -50px -150px;
}
.share a.facebook:hover {
    background-position: -100px -150px;
}
.share a.github:hover {
    background-position: -150px -150px;
}
.share a.google:hover {
    background-position: -200px -150px;
}
.share a.linked:hover {
    background-position: -250px -150px;
}

/*

FORMS

*/
#setup-device .form-group {
    height: 33px;
}
#setup-device label {
    line-height: 32px;
    background: #EEE;
    border: 1px solid #CCC;
    border-radius: 4px 0  0 4px;
}
#setup-device .col-sm-9 {
    padding-left: 0;
    padding-right: 0;
    margin: 0 0 0 -1px;
}
#setup-device .col-sm-9 input {
    background: #FFFFEE;
    border-radius: 0 4px 4px 0;
}
#setup-device .col-sm-9 div.form-control {
    background: #FFFFEE;
}
#setup-device .actions {
    display: block;
    position: relative;
    padding: 0;
}




/*

RESPONSIVENESS

*/

@media(max-width:992px){
    #content {
        width: 96%;
    }
    #setup-device label {
        border-radius: 4px 4px 0 0;
        text-align: center;
    }
    #setup-device .col-sm-9,
    #setup-device .col-sm-3 {
        width: 100%;
        padding: 0;
    }
    #setup-device .col-sm-9 {
        margin: 0;
    }
    #setup-device .form-group {
        height: 63px;
    }
    #setup-device .col-sm-9 input {
        margin: -6px 0 0;
        border-radius: 0 0 4px 4px;
        text-align: center;
    }
    #filters .container {
        width: 100%;
    }
}
@media(max-width:710px){
    body {
        padding: 0 0 30px;
    }
    #content {
        padding-top: 40px;
    }
    #issues .issue .qr-code {
        display: none;
    }
    .issue .info, .issue .meta {
        left: 0;
        position: relative;
        display: block;
        float: none;
        right: 0;
        width: 100%;
    }
    .issue .info h4 {
        border: 1px solid #CCC;
        text-align: center;
    }
    .issue .info span {
        display: none;
    }
    .issue .meta .values {
        padding: 3px 0 0;
        background: transparent;
        border: none;
    }
    .issue .meta .values div span {
        padding-top: 17px;
    }
    .issue .meta .values div:first-child {
        padding-left: 0;
    }
    .issue .meta .values div:last-child {
        padding-right: 0;
    }
    .issue .meta div span i {
        display: block;
    }
    #footer div {
        display: block;
        position: relative;
        width: 100%;
        text-align: center;
        padding: 5px;
    }
    #filters {
        background: #333;
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        width: 100%;
        padding: 10px 2%;
        height: 40px;
        z-index: 99;
    }
    #filters a {
        display: none;
    }
    #filters #filter {
        display: block;
    }
    .actions a.btn {
        width: 32%;
        margin-right: 1.2%;
    }
    .actions a.btn-qr {
        display: inline-block;
    }
    .actions a.btn-share {
        margin-right: 0;
    }
    .actions a.btn,
    .actions a.btn-primary {
        background: #ffffff; /* Old browsers */
        background: -moz-linear-gradient(top,  #ffffff 0%, #ffedb8 100%); /* FF3.6+ */
        background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#ffedb8)); /* Chrome,Safari4+ */
        background: -webkit-linear-gradient(top,  #ffffff 0%,#ffedb8 100%); /* Chrome10+,Safari5.1+ */
        background: -o-linear-gradient(top,  #ffffff 0%,#ffedb8 100%); /* Opera 11.10+ */
        background: -ms-linear-gradient(top,  #ffffff 0%,#ffedb8 100%); /* IE10+ */
        background: linear-gradient(to bottom,  #ffffff 0%,#ffedb8 100%); /* W3C */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ffedb8',GradientType=0 ); /* IE6-9 */
    }
    .actions a.btn:hover, 
    .actions a.btn-primary:hover {
        background: #ffedb8; /* Old browsers */
        background: -moz-linear-gradient(top,  #ffedb8 0%, #ffffff 100%); /* FF3.6+ */
        background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffedb8), color-stop(100%,#ffffff)); /* Chrome,Safari4+ */
        background: -webkit-linear-gradient(top,  #ffedb8 0%,#ffffff 100%); /* Chrome10+,Safari5.1+ */
        background: -o-linear-gradient(top,  #ffedb8 0%,#ffffff 100%); /* Opera 11.10+ */
        background: -ms-linear-gradient(top,  #ffedb8 0%,#ffffff 100%); /* IE10+ */
        background: linear-gradient(to bottom,  #ffedb8 0%,#ffffff 100%); /* W3C */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffedb8', endColorstr='#ffffff',GradientType=0 ); /* IE6-9 */
    }
    .actions a.btn-qr {
        background: #ffedb8; /* Old browsers */
        background: -moz-linear-gradient(top,  #ffedb8 0%, #ebb400 100%); /* FF3.6+ */
        background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffedb8), color-stop(100%,#ebb400)); /* Chrome,Safari4+ */
        background: -webkit-linear-gradient(top,  #ffedb8 0%,#ebb400 100%); /* Chrome10+,Safari5.1+ */
        background: -o-linear-gradient(top,  #ffedb8 0%,#ebb400 100%); /* Opera 11.10+ */
        background: -ms-linear-gradient(top,  #ffedb8 0%,#ebb400 100%); /* IE10+ */
        background: linear-gradient(to bottom,  #ffedb8 0%,#ebb400 100%); /* W3C */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffedb8', endColorstr='#ebb400',GradientType=0 ); /* IE6-9 */
    }
    .actions a.btn-qr:hover {
        background: #ebb400; /* Old browsers */
        background: -moz-linear-gradient(top,  #ebb400 0%, #ffedb8 100%); /* FF3.6+ */
        background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ebb400), color-stop(100%,#ffedb8)); /* Chrome,Safari4+ */
        background: -webkit-linear-gradient(top,  #ebb400 0%,#ffedb8 100%); /* Chrome10+,Safari5.1+ */
        background: -o-linear-gradient(top,  #ebb400 0%,#ffedb8 100%); /* Opera 11.10+ */
        background: -ms-linear-gradient(top,  #ebb400 0%,#ffedb8 100%); /* IE10+ */
        background: linear-gradient(to bottom,  #ebb400 0%,#ffedb8 100%); /* W3C */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ebb400', endColorstr='#ffedb8',GradientType=0 ); /* IE6-9 */
    }
}