/*

RESETS

*/
html, body {
    background: #F2F2F2;
    font-family: sans-serif;
    font-size: 14px;
}
body {
    padding: 30px 0;
    text-align: center;
}
.modal-header {
    background: #EEE;
    border-radius: 4px 4px 0 0;
}
.modal-backdrop.fade.in {
    background: #000;
    display: block;
}
.alert-block {
    display: block;
    position: relative;
    width: 100%;
    padding: 10px;
}
.row.widgets pre {
    background: #FFF;
    color: #757575;
}
.row.widgets pre {
    background: #FFF;
}
.row.widgets pre:hover {
    background: #FFFFEE;
    color: #000;
}
.row.widgets ul.list-group li:nth-child(even)
{
    background: #F8F8F8;
}

/*

NAVIGATION

*/
.navbar.navbar-default {
    height: 75px;
    border-bottom: 1px dotted #CCC;
    background: #F7F7F7;
}
.navbar .navbar-brand {
    width: 260px;
    background: url(../img/bs-logo.png) 11px 16px no-repeat;
    text-indent: -999em;
    height: 75px;
    outline: 0;
}
.navbar .navbar-right {
    margin-right: 3px;
}
.navbar .navbar-brand:hover {
    opacity: 0.75;
}
.navbar.navbar-default .navbar-nav > li > a {
    font-size: 12px;
    padding: 0;
    margin: 27px 8px;
    outline: 0;
    text-transform: lowercase;
    color: #00A4E5;
    background: transparent;
}
.navbar.navbar-default .navbar-nav > li.current-menu-item > a,
.navbar-nav > li > a:hover {
    color: #666;
    border-bottom: 1px solid #00A4E5;
}
.navbar-default .navbar-nav > .current-menu-item > a, .navbar-default .navbar-nav > .current-menu-item > a:hover, .navbar-default .navbar-nav > .current-menu-item > a:focus {
    background: transparent;
}
.navbar-nav > li > .dropdown-menu {
    background: #F7F7F7;
    border-top: 1px solid #F7F7F7;
    margin-top: -1px;
    z-index: 999;
}
.navbar-nav .dropdown .caret,
.navbar-nav .dropdown .dropdown-menu {
    display: none;
}
.navbar-nav .dropdown li.header {
    padding; 5px 20px;
    margin-top: -1px 0 0;
    background: #FFF;
    border-top: 1px dotted #CCC;
    border-bottom: 1px dotted #CCC;
}
.navbar-nav .dropdown li.header a {
    font-weight: bold;
    font-size: 14px;
}
.navbar-nav .dropdown li:hover a,
.navbar-nav .dropdown li.current-menu-item.sub a {
    background: #333;
    color: #FFF;
}
body .navbar.navbar-default .navbar-nav > li.mini-icon,
body .navbar.navbar-default .navbar-nav > li.mini-icon a {
    text-decoration: none;
    border-bottom: none;
}
body .navbar.navbar-default .navbar-nav > li.mini-icon a {
    width: 30px;
    height: 30px;
    text-indent: -999em;
    right: 0;
    top: -1px;
    background: url(../img/mini-icons.png) no-repeat;
}
body .navbar.navbar-default .navbar-nav > li.mini-icon.twitter {
    background-position: 0 0;
}
body .navbar.navbar-default .navbar-nav > li.mini-icon.twitter a:hover {
    text-decoration: none;
    background-position: 0 -60px;
}
.navbar .navbar-toggle {
    margin-top: 18px;
}

/*

SOCIAL

*/
.social-links {
    display: block;
    position: relative;
    padding: 1px 0;
    text-align: center;
}
.social-links a {
    display: inline-block;
    position: relative;
    width: 50px;
    height: 50px;
    background: url(../img/social.png) no-repeat;
}
.social-links a.facebook {
    background-position: 0 -50px;
}
.social-links a.github {
    background-position: -50px -50px;
}
.social-links a.instagram {
    background-position: -100px -50px;
}
.social-links a.rss {
    background-position: -150px -50px;
}
.social-links a.twitter {
    background-position: -200px -50px;
}
.social-links a.reddit {
    background-position: -250px -50px;
}
.social-links a.facebook:hover {
    background-position: 0 0px;
}
.social-links a.github:hover {
    background-position: -50px -0px;
}
.social-links a.instagram:hover {
    background-position: -100px -0px;
}
.social-links a.rss:hover {
    background-position: -150px -0px;
}
.social-links a.twitter:hover {
    background-position: -200px -0px;
}
.social-links a.reddit:hover {
    background-position: -250px -0px;
}

/*

INTRO

*/
#intro, #intro2 {
    border-bottom: 1px solid #CCC;
    padding: 100px 0;
    text-align: center;
}
#intro.page {
    padding: 75px 0 40px;
}
#intro h1,
#intro h2 {
    text-align: center;
    margin-top: 0;
}
#intro h1 {
    color: #00668E;
    font-size: 47px;
}
#intro h2 {
    font-size: 26px;
    color: #888;
}

/*

GRADIENTS

*/
#intro {
    background: rgb(251,251,253); /* Old browsers */
    background: -moz-linear-gradient(top,  rgba(251,251,253,1) 0%, rgba(237,237,246,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(251,251,253,1)), color-stop(100%,rgba(237,237,246,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  rgba(251,251,253,1) 0%,rgba(237,237,246,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  rgba(251,251,253,1) 0%,rgba(237,237,246,1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  rgba(251,251,253,1) 0%,rgba(237,237,246,1) 100%); /* IE10+ */
    background: linear-gradient(to bottom,  rgba(251,251,253,1) 0%,rgba(237,237,246,1) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fbfbfd', endColorstr='#ededf6',GradientType=0 ); /* IE6-9 */
}
#intro2 {
    background: #00a2db
}
.btn-primary {
    background: rgb(0,163,221); /* Old browsers */
    background: -moz-linear-gradient(top,  rgba(0,163,221,1) 0%, rgba(0,134,185,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,163,221,1)), color-stop(100%,rgba(0,134,185,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  rgba(0,163,221,1) 0%,rgba(0,134,185,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  rgba(0,163,221,1) 0%,rgba(0,134,185,1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  rgba(0,163,221,1) 0%,rgba(0,134,185,1) 100%); /* IE10+ */
    background: linear-gradient(to bottom,  rgba(0,163,221,1) 0%,rgba(0,134,185,1) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00a3dd', endColorstr='#0086b9',GradientType=0 ); /* IE6-9 */
}
.btn-primary:hover {
    background: rgb(0,134,185); /* Old browsers */
    background: -moz-linear-gradient(top,  rgba(0,134,185,1) 0%, rgba(0,163,221,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,134,185,1)), color-stop(100%,rgba(0,163,221,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  rgba(0,134,185,1) 0%,rgba(0,163,221,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  rgba(0,134,185,1) 0%,rgba(0,163,221,1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  rgba(0,134,185,1) 0%,rgba(0,163,221,1) 100%); /* IE10+ */
    background: linear-gradient(to bottom,  rgba(0,134,185,1) 0%,rgba(0,163,221,1) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0086b9', endColorstr='#00a3dd',GradientType=0 ); /* IE6-9 */
}
.btn-danger {
    border-color: #222;
    background: rgb(119,119,119); /* Old browsers */
    background: -moz-linear-gradient(top,  rgba(119,119,119,1) 0%, rgba(97,97,97,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(119,119,119,1)), color-stop(100%,rgba(97,97,97,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  rgba(119,119,119,1) 0%,rgba(97,97,97,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  rgba(119,119,119,1) 0%,rgba(97,97,97,1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  rgba(119,119,119,1) 0%,rgba(97,97,97,1) 100%); /* IE10+ */
    background: linear-gradient(to bottom,  rgba(119,119,119,1) 0%,rgba(97,97,97,1) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#777777', endColorstr='#616161',GradientType=0 ); /* IE6-9 */
}
.btn-danger:hover {
    border-color: #000;
    background: rgb(97,97,97); /* Old browsers */
    background: -moz-linear-gradient(top,  rgba(97,97,97,1) 0%, rgba(119,119,119,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(97,97,97,1)), color-stop(100%,rgba(119,119,119,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  rgba(97,97,97,1) 0%,rgba(119,119,119,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  rgba(97,97,97,1) 0%,rgba(119,119,119,1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  rgba(97,97,97,1) 0%,rgba(119,119,119,1) 100%); /* IE10+ */
    background: linear-gradient(to bottom,  rgba(97,97,97,1) 0%,rgba(119,119,119,1) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#616161', endColorstr='#777777',GradientType=0 ); /* IE6-9 */
}

/* DIRTY HACKS */
.jumbotron a.btn {
    margin: 10px;
}
#footer a.site {
    margin-top: 10px;
    margin-bottom: 10px;
}
.row.gallery .col-md-4:nth-child(3n+1) {
    clear: both;
}
#footer #media .img-responsive {
    display: inline-block;
    margin: 10px 0;
}
#footer .container > .row > div {
    margin: 40px 0;
}

/*

FOOTER

*/
#footer {
    display: block;
    position: relative;
    padding: 20px 0;
}
#footer h6 {
    font-size: 20x;
}
#footer .middle h6 {
    text-align: center;
    margin-top: 24px;
}
#footer .right h6 {
    text-align: right;
}
#footer ul.menu {
    list-style: none;
    padding: 0;
    margin: 0;
    text-align: left;
}
#footer ul.menu li a {
    line-height: 22px;
}
#footer .middle ul.links li {
    text-align: center;
}
#footer .right ul.menu li {
    text-align: right;
}
#footer p.credits {
    font-size: 11px;
    color: #888;
    text-align: center;
}
#footer .row.mobile {
    display: none;
}
#footer .left h6 {
    text-align: left;
}

/*

FONTS

*/
@font-face {
    font-family: 'proxima';
    src: url('../fonts/proximanovaaltcond-reg-webfont.eot');
    src: url('../fonts/proximanovaaltcond-reg-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/proximanovaaltcond-reg-webfont.woff2') format('woff2'),
         url('../fonts/proximanovaaltcond-reg-webfont.woff') format('woff'),
         url('../fonts/proximanovaaltcond-reg-webfont.ttf') format('truetype'),
         url('../fonts/proximanovaaltcond-reg-webfont.svg#proxima_nova_a_condregular') format('svg');
    font-weight: normal;
    font-style: normal;
}
h1, h2, h3, h4, h5, h6,
.proxima {
    font-weight: normal;
    font-family: 'proxima', sans-serif;
    font-size: 24px;
}

@media only screen and (max-width : 768px) {
    .navbar .navbar-brand {
        width: 230px;
        border-right: none;
    }
    .navbar-collapse.collapse,
    .navbar-collapse.in {
        margin: -2px 0 0;
        padding: 0;
    }
    .navbar-collapse.in {
        overflow: visible;
        box-shadow: none !important;
    }
    .navbar-collapse.in .navbar-right {
        overflow: auto;
        height: auto;
        max-height: calc(100vh - 75px);
    }
    .navbar-nav {
        display: block;
        background: #F7F7F7;
        width: 100%;
        padding: 0;
        margin: 0;
        border-bottom: 1px solid #AAA;
    }
    .navbar.navbar-default .navbar-nav > li.active > a, 
    .navbar-nav > li > a:hover {
        border-bottom: none;
    }
    .navbar-nav .dropdown.open .dropdown-menu {
        display: block;
    }
    .navbar.navbar-default .navbar-nav > li > a {
        padding: 0px 15px;
    }
    .navbar-nav .dropdown .caret {
        float: right;
        margin: 3px 0 0 0;
        border-left: 8px solid transparent;
        border-right: 8px solid transparent;
        border-top: 8px solid;
    }
}

@media only screen and (max-width : 1024px) {
    #footer .row.mobile {
        display: block;
    }
    #footer .row.desktop {
        display: none;
    }
    #footer .middle ul.menu {
        margin: 10px 0 20px;
    }
    #footer .middle ul.menu,
    #footer .middle ul.menu li,
    #footer .left h6 {
        text-align: center !important;
    }
    .twitter.mini-icon {
        display: none;
    }
}